<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>修改昵称 - 锤子科技</title>
	<meta name="keywords" content="坚果手机,坚果R1手机,坚果3手机,坚果Pro手机,坚果手机官网">
    <meta name="description" content="锤子科技是一家制造移动互联网终端设备的公司,
        公司致力于打造用户体验一流的数码消费类产品（智能手机为主）,主打坚果手机系列有坚果R1手机,坚果3手机等">
    <link rel="shortcut icon" href="/img/icon/favicon.ico">
    <link rel="stylesheet" href="/css/user/register.css">
</head>
<body>
	<main>
		<section id="RS">
			<figure>
				<img src="/img/icon/success.png">
				<figcaption>
					<p>昵称修改成功</p>
				</figcaption>
			</figure>
			<p>请重新登录<a href="/user/login">登录</a></p>
		</section>
	</main>
	<footer>
		<p>本网站是个人学习网站开发技术的作品，若你有兴趣和我一块儿交流技术的话，请联系：</p>
		<p>QQ：11644 82087 &nbsp;&nbsp;&nbsp; mobile：186 3101 2069 &nbsp;&nbsp;&nbsp; 姜展超</p>
	</footer>
</body>
</html>