main > section {
	background: #fff;
    border-radius: .6em;
    border: 1px solid rgba(0,0,0,.14);
    box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
    overflow: hidden;
}
main > section:first-child {
	margin-bottom: 2em;
}
main > section > header {
	padding: 0 1.5em;
	border-bottom: 1px solid #d4d4d4;
    background: linear-gradient(#fbfbfb,#ececec);
    font-size: 1.2em;
    color: #333;
    text-align: left;
}
main > section > header > p {
	margin: 0;
	line-height: 3.5em;
}
main > section > ul {
	display: flex;
	padding: 1em 2em;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
main > section > .title {
	font-size: .8em;
	color: #838383;
	background: #eee;
	box-shadow: inset 0 1px 7px rgba(0,0,0,.06);
    border-bottom: 1px solid rgba(0,0,0,.08);
}
main > section > .title li:nth-of-type(2) {
	margin-left: 40em;
}
main > section > .title li:last-child {
	margin-right: 4em;
}
main > section > .products {
	padding: 2em 2em;
	border-bottom: 1px dotted #eee;
}
main > section > .products li:nth-of-type(1) {
	width: 50%;
}
main > section > .products li:nth-of-type(2),
main > section > .products li:nth-of-type(3),
main > section > .products li:nth-of-type(4),
main > section > .products li:nth-of-type(5) {
	width: 10%;
}
main > section > .products li > a > figure {
	display: flex;
	align-items: center;
	margin: 0;
}
main > section > .products li > a > figure img {
	width: 5.7em;
	height: 5.7em;
	border-radius: .3em;
	border: 1px solid rgba(0,0,0,.06);
}
main > section > .products li > a > figure figcaption {
	margin-left: 1em;
	text-align: left;
}
main > section > .products li > a > figure figcaption p {
	margin: 0;
}
main > section > .products li > a > figure figcaption p:first-child {
	font-size: 1.2em;
	color: #333;
}
main > section > .products li > a > figure figcaption p:last-child {
	color: #999;
	font-size: .8em;
}
main > section > .products li > span:nth-of-type(2) {
	margin: 0 1em;
}
main > section > .products li > .down,
main > section > .products li > .up {
	display: inline-block;
	width: 2em;
	height: 2em;
	vertical-align: middle;
	cursor: pointer;
}
main > section > .products li > .up {
	background: url('/img/icon/computor.jpg') 0em .1em no-repeat;
	background-size: 2em 20em;
}
main > section > .products li > .up:hover {
	background: url('/img/icon/computor.jpg') 0em -6.6em no-repeat;	
	background-size: 2em 20em;
}
main > section > .products li > .down {
	background: url('/img/icon/computor.jpg') 0em -3.3em no-repeat;
	background-size: 2em 20em;
}
main > section > .products .del > span {
	display: inline-block;
	width: 1.6em;
	height: 1.6em;
	background: url(/img/icon/other.png) -3.2em -4.4em no-repeat;
    background-size: 16em 8em;
    cursor: pointer;
}
main > section > .products .del > span:hover {
	background: url(/img/icon/other.png) -4.9em -4.4em no-repeat;
    background-size: 16em 8em;
}
main > section > footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid #d9d9d9;
	background: linear-gradient(#fdfdfd,#f9f9f9);
	color: #323232;
}
main > section > footer > span {
	padding: 0 1em;
}
main > section > footer > span:nth-of-type(2) {
	border-left: 1px solid #e1e1e1;
}
main > section > footer > span > span {
    color: #d44d44;
	font-weight: 700;
}
main > section > footer > span > span > span {
	font-size: 1.2em;
}
main > section > footer > a {
	margin-right: 2em;
	margin-left: 1em;
	padding: 1em 2em;
	color: white;
	background: linear-gradient(#799cea,#567ce6);
    box-shadow: 0 1px 3px rgba(0,0,0,.1), inset 0 -1px 2px rgba(0,0,0,.2);
    border-radius: .6em;
    cursor: pointer;
}
main > section > footer > a:hover {
	background: linear-gradient(#7592d4,#5272c6);
}


main > .settlement {
	text-align: center;
}
#settlement {
	margin: 10em 0;
}
#settlement img {
	width: 10em;
	height: 10em;
}
#settlement figcaption > p {
	font-size: 1.2em;
}
#empty {
	margin: 5em 0;
	text-align: center;
}
#settlement figcaption > a,
#empty figcaption > a {
	display: inline-block;
	margin-top: 1em;
	padding: 1em 3em;
	border-radius: .5em;
	border: 1px solid #e1e1e1;
    color: #646464;
    background-image: linear-gradient(180deg,#fff,#f9f9f9);
}
#settlement figcaption > a:hover,
#empty figcaption > a:hover {
	background-image: linear-gradient(180deg,#f5f5f5,#eee);
}

/********* address *********/

#add-address {
	position: fixed;
	width: 100vw;
	height: 100vh;
	transition: all .15s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	filter: opacity(0);
	z-index: -1;
}
#add-address > .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.65);
	z-index: -1;
}
#add-address > div:last-child {
	border: 1px solid #dcdcdc;
	border-radius: .6em;
	overflow: hidden;
	background-color: white;
}
#add-address > div:last-child > header {
	position: relative;
	padding: 1em 8em;
	font-size: 1.3em;
	border-bottom: 1px solid #e6e6e6;
    box-shadow: 0 1px 7px rgba(0,0,0,.06);
    background: linear-gradient(#fbfbfb,#ececec);
}
#add-address > div:last-child > header p {
	margin: 0;
}
#add-address > div:last-child > ul {
	padding: 2em;
}
#add-address > div:last-child > ul li {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	border-radius: .4em;
	overflow: hidden;
}
#add-address > div:last-child > ul li input {
	padding: 1em .8em;
	font-size: 1.2em;
	border: none;
	outline: none;
	color: #666;
}
#add-address > div:last-child > ul li .error-name,
#add-address > div:last-child > ul li .error-number {
	position: relative;
	left: 1em;
	padding: 0.4em .8em;
	background: #d16d62;
	color: #fff;
	border-radius: .3em;
	transition: all .3s ease-in-out;
	filter: opacity(0);
}
#add-address > div:last-child > ul li:last-child {
	margin-bottom: 0;
	border: none;
}
#add-address > div:last-child > ul li:last-child a {
	display: block;
	text-align: center;
	font-size: 1.5em;
	line-height: 2.5em;
	color: white;
	cursor: pointer;
	background-color: #5a82f0;
    box-shadow: 
	    inset 0 1px 2px hsla(0,0%,100%,.1),
	    inset 0 0 0 1px rgba(0,0,0,.2),
	    0 1px 3px rgba(0,0,0,.1);
}
#add-address > div:last-child > ul li:last-child a:hover {
	background-color: #5e88de;
}
#add-address > div:last-child > ul li select {
	height: 3em;
	width: 100%;
	border: none;
	font-size: 1.2em;
	outline: none;
	cursor: pointer;
	line-height: 3em;
	-webkit-appearance: none;
	-webkit-padding-start: .8em;
}

#address > ul {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
#address > ul li {
	position: relative;
	margin: 1em 0;
	margin-right: 1.5em;
	padding: 1em 1.5em;
	width: 16em;
	height: 9em;
	text-align: left;
	border: 1px solid #e5e5e5;
	word-wrap: break-word;
    word-break: normal;
    cursor: pointer;
    border-radius: .3em; 
    overflow: hidden;
}
#address > ul li > p {
	color: #999;
	margin: .5em 0;
}
#address > ul li > p:first-child {
	font-size: 1.2em;
	color: #666;
}
#address > ul li > p:last-child {
	margin-bottom: 2em;
}
#address > ul li > aside {
	position: absolute;
	left: 0;
	bottom: -2em;
	width: 100%;
	display: flex;
	border-top: 1px solid #e1e1e1;
	transition: all .15s ease-in-out;
}
#address > ul li > aside > a {
	flex-grow: 1;
	display: block;
	text-align: center;
	line-height: 2em;
	font-size: .8em;
	transition: all .15s ease-in-out;
}
#address > ul li > aside > a:first-child {
	border-right: 1px solid #e1e1e1;
}
#address > ul li > aside > a:hover {
	background-color: #e1e1e1;
}
#addAddress {
	background: #fafafa;
	transition: background-color .15s ease-in-out;
}
#addAddress:hover {
	background: #f2f2f2;
}
#addAddress > h1,
#addAddress > p {
	text-align: center;
}

/********* tool *********/

.notAllowed {
	filter: opacity(.5);
    pointer-events: none;
}
.notAllowedAbsolutely {
	filter: opacity(.5) !important;
    pointer-events: none !important;
}
.blueBorder {
	border-color: #6a8fe5 !important;
}
.showAddress {
	filter: opacity(1) !important;
	z-index: 1 !important;
}
#close {
	position: absolute;
	right: 1em;
	bottom: 1em;
	width: 1.2em;
	height: 1.2em;
	background: url('/img/icon/operator.png') -1em -1em no-repeat;
	cursor: pointer;
}
#error-all {
	border: none !important;
	padding: 0.4em .8em;
	background: #d16d62;
	color: #fff;
	text-align: center;
	transition: all 1s ease-in-out;
	display: none;
}
#other {
	width: 100%;
}